---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        기록하고 기억하기.
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-10"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="mailto:dev.yangrey@gmail.com"
        aria-label="Mail Address"
      >
        <i class="fa-solid fa-envelope" aria-hidden="true" title="Mail Address"
        ></i>
        <span>이메일</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/whoisrey"
      >
        <i
          class="fa-brands fa-github"
          aria-hidden="true"
          title="Blogster on GitHub"></i>
        <span>깃헙</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8"></p>
    <p class="text-center whitespace-nowrap overflow-auto">
      “읽기 쉽고 이해하기 쉬운 코드" 작성을 추구하는 개발자가 되고자 합니다. <br
      />
      또한, 올바른 소통 방식에 대해 끊임없이 고민하고 함께 성장하는 문화 형성을 지향합니다.
    </p>
  </div>
</section>
